body {
    background-color: #1a1a1a
}

.extras a,
span {
    color: white;
    font-size: 12px;

}

button.button-signup {
    width: 100px;
    height: 31px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-radius: 0%; */

    background-color: white;
    color: #1a1a1a;

}

button.button-login {
    width: 100px;
    height: 31px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-radius: 0%; */
    border: none;
    background-color: white;
    color: black;
}

.bottom-extras {
    margin: 55vh 0 0 0;
    padding: 0;
}
.palyer {

    color: white;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('lineto-circular-black.ttf') format('ttf'), 
     url('lineto-circular-black.ttf') format('truetype'); 
     src: url('lineto-circular-pro-bold.ttf') format('ttf'), 
     url('lineto-circular-pro-bold.ttf') format('truetype'); 
     src: url('lineto-circular-pro-book.ttf') format('ttf'), 
     url('lineto-circular-pro-book.ttf') format('truetype');
     src: url('lineto-circular-pro-bold.ttf') format('ttf'), 
     url('lineto-circular-pro-bold.ttf') format('truetype'); 
     
  }  

  @media (max-width: 995px) {
    .button{
        transform: translate(-22%, 25%);
    }
  }