body {
  background: black;
}
.card-body {
  background-color: transparent;
}

.card-body h5 {
  font-size: 12px;
  font-weight: bold;
}

.genreTitles {
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.genreTitles:hover {
  color: white;
}

.card-footer {
  background-color: transparent;
}

.card {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  transform: translateY(0);
  transition: box-shadow 0.2s ease, transform 0.1s ease-out 0.1s;
}
.card:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.25);
  transform: translateY(-10px);
}
.card:hover .play-circle {
  display: flex;

  animation: opacity 0.25s ease-in-out;
}

.play-circle {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(64, 112, 15);
  border-radius: 50%;
  display: none;
  cursor: pointer;
  right: 15px;
  bottom: 80px;
}
.play-circle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10.9px;
  border-color: transparent transparent transparent #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
