body {
  background-color: black;
}

#sidebar-artist {
  background-color: black;
  color: white;
}
#sidebar-artist a {
  color: white;
}

.extras a,
span {
  color: white;
  font-size: 12px;
}

button.button-signup {
  width: 100px;
  height: 31px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-radius: 0%; */

  background-color: white;
  color: #1a1a1a;
}

button.button-login {
  width: 100px;
  height: 31px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-radius: 0%; */
  border: none;
  background-color: white;
  color: black;
}

.bottom-extras {
  margin: 55vh 0 0 0;
  padding: 0;
}

img.d-flex.d-wrap {
  filter: brightness(40%);
}
.col#col {
  position: absolute;
  top: 40px;
  color: white;
}

ul {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

ul a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}
div ul li {
  display: inline-flex;
}
#cookies a {
  margin: 0;
}
ul li a:hover {
  text-decoration: none;
  color: rgb(173, 172, 172);
  text-shadow: 0px 1px 12px rgba(255, 255, 255, 0.49);
}
ul li a:focus {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid green;
  padding-bottom: 2px;
}
#secondSection {
  background: #1b2530;
  background: linear-gradient(rgba(27, 37, 48, 0), #000000 48px);
  color: white;
  left: 0;
  right: 0;
  transform: translateY(-50px);
  z-index: 20;
}

.genreTitles {
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.genreTitles:hover {
  color: white;
}
.card {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-body h5 {
  font-size: 12px;
  font-weight: bold;
}
h3 {
  cursor: pointer;
  transform: translateX(-50px);
}
.buttons {
  transform: translateY(60px);
}
.playbutton {
  cursor: pointer;
  align-self: center;
  background-color: forestgreen;
  border: 2px solid forestgreen;
  border-radius: 74px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 5px;
}
.playbutton:hover {
  background-color: rgb(19, 80, 19);
}

.folowbutton {
  cursor: pointer;
  align-self: center;
  padding: 10px;
  border: 2px solid white;
  border-radius: 74px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 5px;
}
.folowbutton:hover {
  background-color: rgb(131, 131, 131);
}

.morebutton {
  cursor: pointer;
  font-size: 40px;
}

h6.song-name {
  font-size: small;
  white-space: nowrap;
  margin-bottom: 0;
}

p.artist-name {
  font-size: x-small;
  color: #8a8a8a;
}
i.far.fa-heart {
  padding-right: 5px;
}

i.fas {
  padding-right: 10px;
  padding-left: 10px;
}
/* .player {
  position: absolute;
} */

.play-button-media {
  font-size: 30px;
  padding-top: 10px;
}
.progress-bar {
  background-color: #8a8a8a !important;
}

.palyer {
  background-color: black;
  color: white;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */ /* Specific width is required for Firefox. */
  background: gray; /* Otherwise white in Chrome */
  border-radius: 10px;
  height: 5px;
  margin-top: 10px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #8a8a8a;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type="range"]:hover {
  background: #39913c;
}

.card:hover .play-circle {
  display: flex;

  animation: opacity 0.3s ease-in-out;
}

.play-circle {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(64, 112, 15);
  border-radius: 50%;
  display: none;
  cursor: pointer;
  right: 0.5vw;
  bottom: 6.5vh;
}
.play-circle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10.9px;
  border-color: transparent transparent transparent #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  transform: translateY(0);
  transition: box-shadow 0.2s ease, transform 0.1s ease-out 0.1s;
}
.card:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.25);
  transform: translateY(-10px);
}
