* {
  background-color: #191919;
  color: white;
}

h6.song-name {
  font-size: small;
  white-space: nowrap;
  margin-bottom: 0;
}

p.artist-name {
  font-size: x-small;
  color: #8a8a8a;
}
i.far.fa-heart {
  padding-right: 5px;
}

i.fas {
  padding-right: 10px;
  padding-left: 10px;
}
/* .player {
  position: absolute;
} */

.play-button-media {
  font-size: 30px;
  padding-top: 10px;
}
.progress-bar {
  background-color: #8a8a8a !important;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */ /* Specific width is required for Firefox. */
  background: gray; /* Otherwise white in Chrome */
  border-radius: 10px;
  height: 5px;
  margin-top: 10px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #8a8a8a;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type="range"]:hover {
  background: #39913c;
}

.extras a,
span {
  color: white;
  font-size: 12px;
}

button.button-signup {
  width: 100px;
  height: 31px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-radius: 0%; */

  background-color: white;
  color: #1a1a1a;
}

button.button-login {
  width: 100px;
  height: 31px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-radius: 0%; */
  border: none;
  background-color: white;
  color: black;
}

.bottom-extras {
  margin: 55vh 0 0 0;
  padding: 0;
}




.card-body {
  background-color: transparent;
}

.card-body h5 {
  font-size: 12px;
  font-weight: bold;
}

.genreTitles {
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.genreTitles:hover {
  color: white;
}
.card {
  box-shadow: -100px -100px 0px 0px rgba(255, 255, 255, 0);
}
.card:hover {
  box-shadow: 0px 0px 35px 11px rgba(255, 255, 255, 0.25);
}
.card:hover .play-circle {
  display: flex;

  animation: opacity 0.3s ease-in-out;
}

.play-circle {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(64, 112, 15);
  border-radius: 50%;
  display: none;
  cursor: pointer;
  transform: translateX(9vh);
  bottom: 50px;
}
.play-circle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10.9px;
  border-color: transparent transparent transparent #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
