
body{
    height: 100vh;
    background: linear-gradient(303deg, #090e3d, #34529e);
}

.headeer{
    height: auto;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:70px;
}
div.header-options  a{
    font-size: 15px;
    color:grey;
    text-decoration: none;
    margin-left: 40px;
}
a:hover{
    text-decoration: none;
    color: rgb(173, 172, 172);
    text-shadow: 0px 1px 12px rgba(255, 255, 255, 0.49);
}
a:focus{
    
    color: white;
    
    text-decoration: none;
    border-bottom: 3px solid green;
    padding-bottom: 2px;
    
}
.card-body{
    overflow: hidden;
}
.card{
    box-shadow: -100px -100px 0px 0px rgba(255, 255, 255, 0);;
}
.card:hover {
    box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.28);
}
.card:hover .play-circle{
    display: flex;
    animation: opacity 1.5s ;
    box-shadow: -7px 5px 28px 1px rgba(0, 0, 0, 0.72);
}
.card-deck{
    margin-top: 10px;
}

#titleOfCard{
    text-align: center;
    color: white;
}
.classfiche-cards{
    width:700px;
}
.genreTitles2{
    margin: auto;
    font-weight: bold;
    color:white;
    text-decoration:none;
}

.play-circle{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(64, 112, 15);
    border-radius: 50%;
    display: none;
    bottom: -5px;
    cursor: pointer;
    opacity: 1;
}
.play-circle:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width:5px 0 5px 10.9px;
    border-color: transparent transparent transparent #ffffff;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    margin: auto;
}


@keyframes opacity {
   from{
       opacity: 0;
   }
   to{
       opacity: 1;
   }
}


@media only screen and (max-width: 760px) {
    .headeer{
        display: none;
    }
  }